*{
    margin: 0;
    padding: 0;
}
.background{
    background-color: black;
    height: 500px;
    width: 900px;
    font-family: sans-serif;
    
}
.heading{
    color: white;
    margin-left: 32px;
    position: relative;
    top: 23px;
    
}
.button{
    background-color: orange;
    border: none;
    font-size: 18px;
    border-radius: 10px;
    padding: 7px 35px 7px 35px;
    color: white;
    margin-left: 620px;
    

}
.button:hover{
    transition: 0.3s;
    background-color: rgb(177, 115, 0);
    cursor: pointer;
}
.text{
    color: white;
    margin-left: 50px;
    width: 800px;
    margin-top: 25px;
    
}
.icon{
    height: 50px;
    width: 50px;
    margin-top: 8px;
    margin-left: 8px;
}
.title{
    color: white;
    font-size: 14px;
    position: relative;
    top: 14px;
    left: 10px;
    
    
}
.section{
    margin-top: 30px;
    background-color: rgb(34, 34, 34);
    width: 800px;
    margin-left: 50px;
    height: 120px;
    border-radius: 19px;
}
.ammount{
    display: inline;
    color: white;
    font-size: 35px;
    position: relative;
    bottom: 12px;
    right: 43px;
}
.title2{
    color: white;
    font-size: 14px;
    margin-left: 550px;

}
.icon2{
    height: 50px;
    width: 50px;
    position: relative;
    left: 488px;
}
.ammount2{
    display: inline;
    color: white;
    font-size: 35px;
    position: relative;
    bottom: 12px;
    left: 238px;
}
.section2{
    margin-top: 30px;
    background-color: rgb(34, 34, 34);
    width: 800px;
    margin-left: 50px;
    height: 120px;
    border-radius: 19px;
}
.title3{
    color: white;
    font-size: 14px;
    position: relative;
    top: 14px;
    left: 10px;
}
.icon3{
    height: 50px;
    width: 50px;
    margin-top: 25px;
    margin-left: 8px; 
}
.ammount3{
    display: inline;
    color: white;
    font-size: 35px;
    position: relative;
    bottom: 12px;
    left: 13px;
    
}
.claim{
    background-color: rgb(59, 59, 59);
    border: none;
    font-size: 14px;
    border-radius: 10px;
    padding: 7px 30px 7px 30px;
    color: white;
    margin-left: 600px;
    position: relative;
    bottom: 47px;
    font-family: sans-serif;

}
.claim:hover{
    transition: 0.3s;
    background-color: rgb(24, 24, 24);
    cursor: pointer;
}
