.section{
    margin-top: 30px;
    background-color: rgb(34, 34, 34);
    width: 800px;
    margin-left: 50px;
    height: 120px;
    border-radius: 19px;
}
.ammount{
    display: inline;
    color: white;
    font-size: 35px;
    position: relative;
    bottom: 12px;
    right: 43px;
}